body{
    width: 960px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

#pantalla{
    border: groove 8px #A93226;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-desert-background-minimalist-design-painteddesert-backgroundcactussimple-designcartoon-image_53682.jpg);
}

#boton{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    border: solid 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#boton:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
    background-color: lightcoral;
    font-size: 22px;
    border: groove 4px #3498DB;
}